// charsetの指定
@charset "utf-8";

// fontの読込
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

// 変数の定義

// 文字色に関する変数
$base_text_color : #333;
$base_link_color : #1487bd;
$base_link_color_hover : #0f5373;
$base_link_color_visited : #789dae;
$base_link_color_keyword : #454545;